<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <img src="/assets/img/faro_onefamily_many_tribes_logo.jpg" width="50em">
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-dark">Comunidad Faro</a></li>
        <li><a href="/history" class="nav-link px-2 link-dark">Nuestra Historia</a></li>
        <li><a href="/first-time" class="nav-link px-2 link-dark">Queremos conocerte</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <a href="/login" class="btn btn-outline-primary me-2"><i class="bi bi-person-circle"></i></a>
      <a href="/registro" class="btn btn-outline-primary me-2">Registro</a>
    </div>
</header>